<h3 class="mt-3">Index Component</h3>
<div *ngIf="users">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users | async">
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>
          <button class="btn btn-danger mr-2" (click)="deleteUser(user.id)">
            Delete
          </button>
          <button class="btn btn-dark" (click)="updateUser(user)">
            Update
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
