<h3 class="mt-3">Article Lists</h3>
<button (click)="loadArticles()">Refresh list</button>
<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Description</th>
        <th>Created Date</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngIf="articleLoadedStatus; else displaySpinner">
        <tr *ngFor="let article of articles | async">
          <td>{{ article.id }}</td>
          <td>{{ article.title }}</td>
          <td>{{ article.description }}</td>
          <td>{{ article.createdAt }}</td>
          <td>
            <button
              class="btn btn-danger mr-2"
              (click)="deleteArticle(article)"
            >
              Delete
            </button>
            <button class="btn btn-dark" (click)="updateArticle(article)">
              Update
            </button>
          </td>
        </tr>
      </ng-container>
      <ng-template #displaySpinner>
        <tr>
          <td colspan="5" class="text-center">
            <div
              class="spinner-border text-primary custom-spinner"
              role="status"
            >
              <span class="sr-only">Loading...</span>
            </div>
          </td>
        </tr>
      </ng-template>
    </tbody>
  </table>
</div>
